# Get Cafes data

Getting cafes data to be used in other notebooks such as Sale scan rates notebook.

In [1]:
from requests import get
from pandas import DataFrame, read_csv
from dotenv import load_dotenv
from time import time
import json, os

### Check if data already exists

In [2]:
fetchCafesData = False

if not os.path.exists("../data files/cafes.csv"):
    print('Existing cafes file not found. Have to fetch again...')
    fetchCafesData = True
else:
    print('Existing cafes file found.')

Existing cafes file found.

### If not exists, we fetch from the API

In [3]:
cleanData = False

if fetchCafesData:
    load_dotenv()

    domain = os.getenv("URL")
    
    print('Getting Cafes data... Please wait!')
    startTime = time()

    # get cafes data
    response = get('https://' + domain + 'cafe')
    cafesData = response.json()

    print('Took', round(time() - startTime, 2), 'seconds to get Cafes data.')
    
    print('Will now clean data...')
    cleanData = True

### Cleaning data if just fetched

In [4]:
if cleanData:
    # build dataframe
    cafesDF = DataFrame.from_dict(cafesData, orient='columns')
    
    # dropping columns
    cafesDF = cafesDF.drop(['created_at', 'updated_at', 'created_at_melbourne_date_time', 'updated_at_melbourne_date_time'], axis=1)

    # save csv
    cafesDF.to_csv('../data files/cafes.csv', index = False)
else:
    cafesDF = read_csv('../data files/cafes.csv')
cafesDF

    id                 cafe_name          name   latitude   longitude
0  101                Nesso Café         nesso -37.913788  145.132773
1  102                  Cafélito      cafelito -37.913776  145.132642
2  103            Taste Baguette         taste -37.912821  145.132588
3  104  Church of Secular Coffee        church -37.911455  145.134340
4  105                   Swift's        swifts -37.912847  145.134145
5  106                Wholefoods    wholefoods -37.911733  145.133268
6  107       Supernatural Eatery  supernatural -37.911443  145.133277
7  108        Script @ Jazz Club        script -37.913126  145.133653
8  109          Café Cinque Lire        cinque -37.910371  145.129435